.accessibility
    padding: 227px 217px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .info
        font-size: 52px;
        line-height: 78px;
        text-align: center;

    .icons
        display: flex;
        justify-content: space-between;
        margin-top: 106px;

        @media (min-width: 900px)
            width: 866px;
    
    @media screen and (max-width: 600px)
        padding: 85px 22px;

        .info
            font-size: 26px;
            line-height: 39px;
        
        .icons
            width: 310px;
            margin-top: 55px;

            img
                height: 60px;