.menu-item
    line-height: 18.29px;
    text-align: center;
    padding: 26px;
    
    span
        font-size: 15px;
        color: black_1;
        display: inline-block;
        vertical-align: middle;