.menu-item
    line-height: 18.29px;
    text-align: center;
    padding: 26px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    a
        font-size: 15px;
        color: black_1;
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
    
    .skate
        position: absolute;
        margin-top: 10px;

        @media screen and (max-width: 600px)
            display: none;
