.card
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F6F6F6;
    width: 305px;
    height: 429px;
    padding: 87.5px 47.5px 65.5px 47.5px;

    .logo
        display: flex;
        flex-direction: column;

        span
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-family: 'Roboto', sans-serif;
            font-size: 32px;
            line-height: 40.8px;
            text-transform: none;
            background-color: #fff0fc;
            height: 63px;
            margin-top: 24px;

        img
            height: 57px;

    .markdown
        display: flex;
        justify-content: center;

        img
            width: 60px;
    
    button
        height: 69px;
        padding: 9px 80px 9px 80px;
        border-radius: 10px;
        background-color: #942F88;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        line-height: 30.6px;
        text-transform: lowercase;
        color: #F1F1F1;
        display: inline-flex;
        align-items: center;
        justify-content: center;        
        cursor: pointer;
