.about
    margin-top: 120px;
    margin-bottom: 187px;
    position: relative;
    height: 1514px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 600px)
        margin-top: 60px;

    @media screen and (max-width: 360px)
        height: 1620px;

    .content
        display: flex;
        height: 699px;
        background-color: #B968A6;
        justify-content: space-between;

        .abilities
            width: 430px;
            height: 323px;
            margin-top: 45px;
            margin-left: 108px;
        
        .abilities-mobile
            display: none;
            position: absolute;
            z-index: 10;
            width: 260px;
            margin-top: 29px
        
        @media screen and (max-width: 600px)
            .abilities
                display: none;

            .abilities-mobile
                display: inline;

        .visual-identity
            position: relative;

            .background
                width: 670.5px;

            .letter-A
                position: absolute;
                top: -62.5px;
                right: 526px;
                z-index: 1;
                width: 188.73px;

            .letter-B
                position: absolute;
                z-index: 1;
                top: 31px;
                right: 468px;
            
            @media screen and (max-width: 600px)
                left: 150px;
                width: 450px;
                height: 405px;

                .background
                    width: 450px;

                .letter-A
                    top: -48px;
                    left: -31px;
                    width: 130px;

                .letter-B
                    top: 22px;
                    left: 24px;
                    width: 112px;

            @media screen and (max-width: 360px)
                left: 95px;

                .background
                    width: 364px;

                .letter-A
                    top: -37px;
                    left: -24px;
                    width: 104px;

                .letter-B
                    top: 18px;
                    left: 22px;
                    width: 89px;
    
    .presentation
        align-self: center;
        display: flex;
        position: absolute;
        top: 346px;
        border-radius: 0px;

        .text
            display: flex;
            flex-direction: column;
            max-width: 292px;
            border-radius: 0px;
            padding: 49px 24px 35px 32px;
            background-color: #FAFAFA;

            .title
                font-family: 'Bebas neue', sans-serif;
                font-size: 36px;
                line-height: 43.2px;

                .hi
                    color: #B766A4;
                    margin-bottom: 20px;
                
                .iam
                    color: #000000;
            
            .resume
                display: flex;
                max-width: 509px;
                margin-top: 40px;
                font-family: 'Poppins', sans-serif;
                font-size: 20px;
                line-height: 30px;
                text-transform: none;

        .border
            display: none
            width: 107.17px;
            border-radius: 0px 10px 10px 0px;
            background-color: #461841;
            content: ' ';
        
        .buttons
            display: flex;
            align-self: center;
            text-transform: none;
            flex-direction: column;
            align-items: center;
            margin-top: 44px;
            gap: 34px;

            a
                width: 197px;
                height: 67px;
                border-radius: 20px;
                cursor: pointer;
                font-family: "Montserrat", sans-serif;
                font-size: 20px;
                line-height: 30px;
                font-weight: 600;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;

                img
                    margin-right: 8px;

            .linkedin
                color: #942F88;
                background-color: #FFFFFF;
                border: 0.5px solid #942F88;
            
            .resume-button
                background-color: #B967A6;
                border: 0.5px solid #B967A6;
                color: #FFFFFF;

        @media screen and (max-width: 600px)
           
            .buttons
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 34px;
        
        @media screen and (min-width: 576px)
            .text
                max-width: 345px;
        
        @media screen and (min-width: 900px)
            top: 465px;
            border-radius: 10px;

            .text
                max-width: 811px;
                border-radius: 10px 0px 0px 10px;
                padding: 62.5px 133px 62.5px 133px;

                .resume
                    font-size: 20px;
                    line-height: 30px;

            .border
                display: inline;
            
            .buttons
                flex-direction: row;
                justify-content: space-between;
                width: 446px;
                gap: auto;

    // $carousel-duration: 27s
    // $carousel-items: 7
    // $slide-change-timing: 3
    // $carousel-delay-fraction: $carousel-duration / $carousel-items
    // $carousel-steps-fraction: 100 / $carousel-items
    // $carousel-easing: cubic-bezier(0.37, 0, 0.63, 1)

    // @keyframes carousel-animate
    //     0%
    //         visibility: hidden;
    //         opacity: 0;
    //         transform: translateX(200%) scale(0.7);

    //     #{$slide-change-timing}%,
    //     #{$carousel-steps-fraction}%
    //         visibility: visible;
    //         opacity: 0.8;
    //         transform: translateX(100%) scale(0.9);
    //     #{$carousel-steps-fraction + $slide-change-timing}%,
    //     #{$carousel-steps-fraction * 2}%
    //         visibility: visible;
    //         opacity: 1;
    //         transform: translateX(0) scale(1);
    //     #{($carousel-steps-fraction * 2) + $slide-change-timing}%,
    //     #{$carousel-steps-fraction * 3}%
    //         visibility: visible;
    //         opacity: 0.8;
    //         transform: translateX(-100%) scale(0.9);
    //     #{($carousel-steps-fraction * 3) + $slide-change-timing}%
    //         visibility: visible;
    //         opacity: 0;
    //         transform: translateX(-200%) scale(0.9);
    //     100%
    //         visibility: hidden;
    //         opacity: 0;
    //         transform: translateX(-200%) scale(0.7);

    // .container
    //     --container-padding-horizontal: 32px;
    //     position: relative;
    //     padding-inline: var(--container-padding-horizontal);
    //     display: grid;
    //     place-items: center;
    //     height: 100%;

    // .carousel
    //     pointer-events: none;
    //     position: absolute;
    //     padding-block-start: 67px;
    //     padding-block-end: max(24px, calc(29px + var(--font-size-md)));
    //     perspective: 100px;
    //     width: 100%;
    //     @media (max-width: 568px)
    //         padding-block-end: 52px;
    //     &__wrapper
    //         position: relative;
    //         display: flex;
    //         justify-content: center;
    //         height: 61.2vh;
    //     .item
    //         position: absolute;
    //         max-width: 418px;
    //         height: 100%;
    //         margin-inline: var(--container-padding-horizontal);
    //         opacity: 0;
    //         will-change: transform, opacity;
    //         animation: carousel-animate $carousel-duration $carousel-easing infinite;
    //         @media (max-width: 568px)
    //             margin-inline: calc(var(--container-padding-horizontal) + 1px);

    //         @for $i from 1 through ($carousel-items - 1)
    //             &:nth-child(#{$i})
    //                 animation-delay: calc(#{$carousel-delay-fraction} * #{$i - 2});

    //         &:last-child
    //             animation-delay: calc(-#{$carousel-delay-fraction} * 2);
    //     img
    //         max-width: 100%;
    //         object-fit: cover;
    //         height: 100%;