.home
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 866px;

    .info
        position: relative;

        .text
            max-width: 980px;
            margin-top:152px;

            h1
                font-size: 52px;
                line-height: 78px;
    
    .frame-image
        position: absolute;
        top: 110px;
        left: 20px;
    
    .scrolldown
        position: absolute;
        top: 530px;
    
    .cat-images
        display: flex;
        position: absolute;
        top: 318.36px;
        left: 70.84px;

        .cat img
            width: 82.38px;

        .cats
            transform: rotate3d(3, 22, 5, 30deg);
            position: relative;
            top: 52.99px;

            img
                width: 67.02px;