.contact-form
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    gap: 28px;
    margin-bottom: 220px;

    .form-header
        display: flex;
        flex-direction: column;
        max-width: 847px;

        .title
            font-size: 52px;
            line-height: 78px;
            display: inline-flex;
            text-align: left;

        .subtitle
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            line-height: 30px;
            display: inline-flex;
            text-align: center;
            text-transform: none;

    .form
        display: flex;
        flex-direction: column;
        width: 563px;
        gap: 28px;

        label
            display: flex;
            flex-direction: column;
            font-weight: 500;
            font-size: 18px;
            text-transform: none;
            gap: 15px;
        
        input, select, textarea
            font-family: 'Poppins', sans-serif;
            background-color: #F0F0F0;
            border: none;
            height: 46px;
            padding: 0px 26px;
            border-radius: 0px;
            
            ::placeholder
                color: #B2B2B2;
            
            &:focus
                outline: 1px solid #451841;
        
        textarea
            height: 165px;
            padding-top: 25px;
        
        option
            font-family: 'Poppins', sans-serif;
            background-color: #F0F0F0;
            border: none;
            height: 46px;
            padding: 0px 26px;
            border-radius: 0px;

        button
            height: 72px;
            border-radius: 10px;
            cursor: pointer;
            font-family: "Poppins", sans-serif;
            color: #F3F3F3;
            font-size: 20px;
            line-height: 30px;
            font-weight: 500;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            background-color: #8F2D83;
            border: none;