.start-dev-case
    text-transform: none;

    .title
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 48px;
        line-height: 72px;
        color: #451841
        margin-bottom: 70px;
        position: relative;
        display: inline-block;
        margin-left: 116px;
        margin-right: 140px;
    
        &:after
            content: "";
            position: absolute;
            width: 165px;
            height: 0px;
            bottom: 0;
            left: 0px;
            top: 72px;
            border-radius: 6px;
            border: 3px solid #b967a6;
    
    .title2
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 48px;
        line-height: 72px;
        color: #1E1E1E;
        margin-left: 116px;
        margin-right: 140px;

    .text
        font-size: 24px;
        line-height: 42px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #5E6B81;
        margin-left: 116px;
        margin-right: 140px;

    .highlight
        color: #451841;

    .presentation
        position: relative;
        display: flex;
        flex-direction: column;
        height: 832px;
        margin-left: 120px;

        .case
            display: flex;
            align-items: center;
            margin-bottom: 85px;
            margin-top: 108px;

            img
                margin-right: 22px;

            .type
                border-radius: 53px;
                background-color: #FFF0FC;
                padding: 11px 63px;
                font-family: 'Roboto', sans-serif;
                font-size: 32px;
                line-height: 40.8px;
                color: #013CAA;
        
        .logo
            width: 308.31px;
            margin-bottom: 56.15px;
        
        .description
            display: inline-block;
            max-width: 483px;
            color: #010101;
            font-size: 24px;
            line-height: 40px;
            letter-spacing: -0.02em;
            text-align: left;
            max-width: 483px;
            margin-bottom: 30px;

        .tools
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: 24px;
            line-height: 30.24px;
            max-width: 279px;
            max-height: 53.03px;
            padding: 8px 16px 8px 16px;
            gap: 16px;
            border-radius: 8px 0px 0px 0px;
            opacity: 0px;
            background-color: #F1F1F1;
        
        .bubble
            position: absolute;
            top: 0px;
            right: 0px;
        
        .iphone
            position: absolute;
            width: 778px;
            top: 74px;
            right: -12px;
            z-index: 1;

    .objectives
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Plus Jakarta Sans', sans-serif;
        margin-top: 99px;

        .title
            margin-bottom: 64px;
            text-transform: none;
            font-size: 48px;
            line-height: 72px;
            color: #451841;

        .item-list
            display: flex;
            justify-content: space-between;

            .item
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 112px;

                &:last-of-type
                    margin-right: 85px;
                
                &:first-of-type
                    margin-left: 85px;

                img
                    width: 80px;
                    height: 80px;

                span
                    max-width: 290px;
                    font-size: 24px;
                    line-height: 36px;
                    text-align: center;
                    color: #22222A;

    .section
        margin-bottom: 152px;
        display: flex;
        flex-direction: column;
        position: relative;

        img
            align-self: center;
            margin-top: 50px;
        
    .stars-plus-1
        position: absolute;
        left: 0px;
        top: 290px;

    .stars-plus-2
        position: absolute;
        right: 50px;
        top: 507px;
        transform: scale(-1, 1);
