section
    background-color: inherit; /* Same as body background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: clip-path 0.5s ease;

.section-hidden
    clip-path: inset(60px 0 0 0); /* Hides the first 60px of the section */

    @media screen and (max-width: 600px)
        clip-path: inset(0px 0 0 0);