.trade-plus-case
    text-transform: none;

    .section
        margin-bottom: 152px;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 114px;
        margin-right: 140px;

        img
            align-self: center;
            margin-top: 50px;

    .title
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 48px;
        line-height: 72px;
        color: #451841
        margin-bottom: 70px;
        position: relative;
        display: inline-block;
    
        &:after
            content: "";
            position: absolute;
            width: 165px;
            height: 0px;
            bottom: 0;
            left: 0px;
            top: 72px;
            border-radius: 6px;
            border: 3px solid #b967a6;

    .title2
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 48px;
        line-height: 72px;
        color: #1E1E1E;
    
    .title3
        font-family: 'Inter', sans-serif;
        font-size: 32px;
        line-height: 38.73px;
        color: #451841;

    .text
        font-size: 24px;
        line-height: 42px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #5E6B81;

    .highlight
        color: #451841;

    .presentation
        position: relative;
        display: flex;
        flex-direction: column;
        height: 832px;
        margin-left: 120px;

        .case
            display: flex;
            align-items: center;
            margin-bottom: 85px;
            margin-top: 108px;

            img
                margin-right: 22px;

            .type
                border-radius: 53px;
                background-color: #FFF0FC;
                padding: 11px 63px;
                font-family: 'Roboto', sans-serif;
                font-size: 32px;
                line-height: 40.8px;
                color: #013CAA;
        
        .logo
            width: 308.31px;
            margin-bottom: 56.15px;
        
        .description
            display: inline-block;
            max-width: 483px;
            color: #010101;
            font-size: 24px;
            line-height: 40px;
            letter-spacing: -0.02em;
            text-align: left;
            max-width: 483px;
            margin-bottom: 30px;

        .tools
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: 24px;
            line-height: 30.24px;
            max-width: 279px;
            max-height: 53.03px;
            padding: 8px 16px 8px 16px;
            gap: 16px;
            border-radius: 8px 0px 0px 0px;
            background-color: #F1F1F1;

            img
                margin-left: 16px;
        
        .bubble
            position: absolute;
            top: 0px;
            right: 0px;
        
        .iphone
            position: absolute;
            width: 778px;
            top: 74px;
            right: -12px;
            z-index: 1;
    
    .contextualization, .problem-definition
        max-width: 861px;
        margin-right: 445px;

    .character-1
        position: absolute;
        right: -298px;
        top: 238px;

    .character-2
        position: absolute;
        right: -370px;
        top: 396px;
    
    .stars-plus
        position: absolute;
        right: 25px;
        top: 654.88px;
    
    img.trade-plus-reunions
        margin-bottom: 57px;
        align-self: self-start;
        margin-left: 24px;
    
    .persona-content
        display: flex;
        gap: 21px;

        .persona-profile
            align-self: self-start;

            .quote
                display: inline-block;
                width: 408px;
                margin-top: 79px;
                font-family: 'Plus Jakarta Sans', sans-serif;
                font-size: 20px;
                line-height: 30px;
                text-align: center;

        .text
            padding-top: 75px;
    
    .data-analysis ol li::marker
        color:#451841

    .objectives
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Plus Jakarta Sans', sans-serif;
        margin-top: 99px;

        .title
            margin-bottom: 64px;
            text-transform: none;
            font-size: 48px;
            line-height: 72px;
            color: #451841;

        .item-list
            display: flex;
            justify-content: space-between;

            .item
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 112px;

                &:last-of-type
                    margin-right: 85px;
                
                &:first-of-type
                    margin-left: 85px;

                img
                    width: 80px;
                    height: 80px;

                span
                    max-width: 290px;
                    font-size: 24px;
                    line-height: 36px;
                    text-align: center;
                    color: #22222A;

    .insights
        max-width: 916px;
        display: flex;

        img
            margin-top: 0px;
            margin-right: 42px;

    .csd-images
        display: flex;
        gap: 42px;

        figcaption
            margin-top: 20px;

    .insights-improvements ol li::marker
        color:#451841